<!-- This HTML shows a list of all categories of the listings that are available. By clicking
    a category, the user is presented with listings of just that category.-->

{% extends "auctions/layout.html" %}

{% block body %}
<h2>Listing categories</h2>
<h3>Hi! Choose a category below to see items that apply to your category of choice.</h3>

<!-- Form to choose a category -->
<form action="{% url 'show_category' %}" method="POST">
    {% csrf_token %}
    <label for="category"> Choose a category: </label>
    <select name="category" id="category">
        {% for categ in categories %}
        <option value="{{ category }}"> {{ category }} </option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Search category</button>
</form>

{% endblock %}