<!-- This page contains the active lisitings of the website. -->

{% extends "auctions/layout.html" %}

{% block body %}
<h2 class="page_title">Active Listings</h2>

<!--<div>
    Source to link hyperlink: https://www.w3schools.com/html/html_links.asp 
    Click <a href="{% url 'show_category' %}">here</a> to see listings and filter them by category!
</div>-->

<div>
    <h5>Hi! Choose a category below to see items that apply to your category of choice.</h5>

    <form style="display: flex; align-items: end; gap: 10px;" action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label style="margin-bottom: 10px;" for="category"> Choose a category: </label>
            <select class="form-select" name="category" id="category">
                {% for category in categories %}
                <option value="{{ category }}"> {{ category }} </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search category</button>
    </form>
</div>

<div class="row" style="gap: 15px; padding-top: 15px;">
    {% for listing in listings %}
    <!-- Source for card: https://getbootstrap.com/docs/4.0/components/card/  -->
    <div class="card pt-2 col-3" style="width: 18rem;">
        <img class="card-img-top" src="{{ listing.image_url }}" alt="Listing item">

        <div class="card-body">
            <h5 class="card-title"> {{ listing.title }} </h5>
            <p class="card-text"> {{ listing.description }} </p>
            <p class="card-text"> €{{ listing.price.bid }} </p>
            <a href="{% url 'listing' id=listing.id %}" class="btn btn-outline-primary">See item</a>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}