{% extends "auctions/layout.html" %}

{% block body %}

<!-- Active Listings Page: The default route of your web application 
should let users view all of the currently active auction 
listings. For each active listing, this page should display (at 
minimum) the title, description, current price, and photo (if 
one exists for the listing). -->
<h2>Active Listings</h2>

<div class="row mx-5">
    {% for listing in listings %}
    <!-- Source for card: https://getbootstrap.com/docs/4.0/components/card/  -->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ listing.image_url }}" alt="Listing item">
        <!-- bovenstaande regel kan ook alt als 'alt="{{ listing.title }}" -->
        <div class="card-body">
            <h5 class="card-title"> {{ listing.title }} </h5>
            <p class="card-text"> {{ listing.description }} </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}